extends layouts/main.pug
include mixins/planBlock.pug

block content
    section
        a.prev__btn < 
        .day
            - const order = [ 0, 1, 2, 3, 4, 5, 6 ]
            - const days = [ "일", "월", "화", "수", "목", "금", "토"]
            ol.day__list#slider
                each i in order
                    li.day__item
                        .title
                            .title__date
                                span=thisWeek.date[i]
                                |일 
                                span.day=days[thisWeek.day[i]]
                                |요일
                            .title__description
                                if user.sentence.length==0
                                    p.description 입력창 왼쪽 버튼을 눌러 입력해주세요.
                                else
                                    each item in user.sentence
                                        if thisWeek.year[j]==item.year && thisWeek.month[j]==item.month && thisWeek.date[j]==item.date
                                            p.description=user.sentence.title
                                        else
                                            p.description 입력창 왼쪽 버튼을 눌러 입력해주세요.
                        .todolist-box
                            ul.todolist
                                each item in user.plans
                                    if thisWeek.year[i]==item.year && thisWeek.month[i]==item.month && thisWeek.date[i]==item.date
                                        +planBlock({
                                            id:item._id,
                                            title:item.title,
                                            completed: item.completed
                                        })
                        form.add-form(action=`plans${routes.upload}`, method="post", autocomplete="off") <!--지난 날짜는 보이지 않도록-->
                            if i > 0
                                button.option__button(type="button")
                                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAABuElEQVRoge2YsU7CQACGfwo1qQxqKR1M9AUcCFEYiD6Jg4kTgxLdQV8AFFc1+kaQFE1gYnDUEB1MoUc5pyYIBXptL6fJfVNz7fW+j/Y6kKCUJoCvTfxLNj5TADSCtYFolTCoQFoRLREVGSAaGSAaGSAaGSAaGSAaGSAargGdnoVOz+K5BFK8btzpWWg8NEApxcXpJfJ7eS7rcHkCnrxDHJAxQfPpFu3XNo+l4g+YlvfgGRFrgJ+8B6+I2AKWyXvwiIglwOqulveIOyJygNW1cPPoL2/oWRh6dm6cjAnunpuxfGIjBSyTz2wZqJ5VcV25gpkx5847xEH9vh75SYQOWCVfO6/BzJi/jmeJ43UKFRBUftmYR9QI5gBW+SDnokQwBYSVD3JN2AimgNFoCHfizo0benbhZp3F29x+Xyd34sIe2ixKbAGFXBGVkwqSyWQgoUX4BSuKgvJxGaX9EosS+x6Yjgjy2ixieq4nf3hwxHyfBKV0ncD+Zp3Yemlhd3uH6Zf342Pwjv5bH4VckXmuCi0dOuAvoEKTf68LRwaIRgaIRgaIRgaIRgaIRgaIJgXAVuHookXCodk/xs/7eHgWzBAAAAAASUVORK5CYII=")
                                input.add-form__input(type="text", name="title", placeholder="할 일")
                            else
                                button.option__button(type="button", disabled)
                                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAABuElEQVRoge2YsU7CQACGfwo1qQxqKR1M9AUcCFEYiD6Jg4kTgxLdQV8AFFc1+kaQFE1gYnDUEB1MoUc5pyYIBXptL6fJfVNz7fW+j/Y6kKCUJoCvTfxLNj5TADSCtYFolTCoQFoRLREVGSAaGSAaGSAaGSAaGSAaGSAargGdnoVOz+K5BFK8btzpWWg8NEApxcXpJfJ7eS7rcHkCnrxDHJAxQfPpFu3XNo+l4g+YlvfgGRFrgJ+8B6+I2AKWyXvwiIglwOqulveIOyJygNW1cPPoL2/oWRh6dm6cjAnunpuxfGIjBSyTz2wZqJ5VcV25gpkx5847xEH9vh75SYQOWCVfO6/BzJi/jmeJ43UKFRBUftmYR9QI5gBW+SDnokQwBYSVD3JN2AimgNFoCHfizo0benbhZp3F29x+Xyd34sIe2ixKbAGFXBGVkwqSyWQgoUX4BSuKgvJxGaX9EosS+x6Yjgjy2ixieq4nf3hwxHyfBKV0ncD+Zp3Yemlhd3uH6Zf342Pwjv5bH4VckXmuCi0dOuAvoEKTf68LRwaIRgaIRgaIRgaIRgaIRgaIJgXAVuHookXCodk/xs/7eHgWzBAAAAAASUVORK5CYII=")
                                input.add-form__input(type="text", name="title", placeholder="지난 날짜입니다.", disabled)
                            input(type="hidden", name="category", value="공부")
                            input(type="hidden", name="year", value=thisWeek.year[i])
                            input(type="hidden", name="month", value=thisWeek.month[i])
                            input(type="hidden", name="date", value=thisWeek.date[i])
                            button.add-form__button 추가
        a.next__btn > 
