extends layouts/main.pug
include mixins/planBlock.pug

block content
    section(onmousewheel="horizontalScroll()")
        a.prev__btn < 
        .day
            ol.day__list#slider
                li.day__item
                    .title 
                        .title_date
                            span.title_date 13일 
                            span.title_day 일요일
                        .title_description
                            p.description 블라블라어쩌고블라블라어쩌고블라블라어쩌고블라블라어쩌고블라블라어쩌고블라블라어쩌고블라블라어쩌고블라블라어쩌고블라블라어쩌고
                    .todolist-box
                        ul.todolist
                            each item in user.plans
                                +planBlock({
                                    title:item.title
                                })
                        form.add-form(action=`plans${routes.upload}`, method="post", autocomplete="off") <!--지난 날짜는 보이지 않도록-->
                            button.description__button(type="button")
                                img(src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/microsoft/209/fire_1f525.png", alt="명언")
                            input.add-form__input(type="text", name="title", placeholder="할 일")
                            input(type="hidden", name="category", value="공부")
                            button.add-form__button 추가
                
                li.day__item
                    .title 
                        .title_date
                            span.title_date 14일 
                            span.title_day 월요일
                        .title_description
                            p.description -
                    .todolist-box
                        ul.todolist
                            each item in user.plans
                                +planBlock({
                                    title:item.title
                                })
                        form.add-form(action=`plans${routes.upload}`, method="post", autocomplete="off") <!--지난 날짜는 보이지 않도록-->
                            button.description__button(type="button")
                                img(src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/microsoft/209/fire_1f525.png", alt="명언")
                            input.add-form__input(type="text", name="title", placeholder="할 일")
                            input(type="hidden", name="category", value="공부")
                            input(type="hidden", name="creator", value=user.id)
                            button.add-form__button 추가
                li.day__item
                    .title 
                        .title_date
                            span.title_date 15일 
                            span.title_day 화요일
                        .title_description
                            p.description -
                    .todolist-box
                        ul.todolist
                            each item in user.plans
                                +planBlock({
                                    title:item.title
                                })
                        form.add-form(action=`plans${routes.upload}`, method="post", autocomplete="off") <!--지난 날짜는 보이지 않도록-->
                            button.description__button(type="button")
                                img(src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/microsoft/209/fire_1f525.png", alt="명언")
                            input.add-form__input(type="text", name="title", placeholder="할 일")
                            input(type="hidden", name="category", value="공부")
                            input(type="hidden", name="creator", value=user.id)
                            button.add-form__button 추가
                li.day__item
                    .title 
                        .title_date
                            span.title_date 16일 
                            span.title_day 수요일
                        .title_description
                            p.description -
                    .todolist-box
                        ul.todolist
                            each item in user.plans
                                +planBlock({
                                    title:item.title
                                })
                        form.add-form(action=`plans${routes.upload}`, method="post", autocomplete="off") <!--지난 날짜는 보이지 않도록-->
                            button.description__button(type="button")
                                img(src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/microsoft/209/fire_1f525.png", alt="명언")
                            input.add-form__input(type="text", name="title", placeholder="할 일")
                            input(type="hidden", name="category", value="공부")
                            input(type="hidden", name="creator", value=user.id)
                            button.add-form__button 추가
                li.day__item
                    .title 
                        .title_date
                            span.title_date 18일 
                            span.title_day 금요일
                        .title_description
                            p.description -
                    .todolist-box
                        ul.todolist
                            each item in user.plans
                                +planBlock({
                                    title:item.title
                                })
                        form.add-form(action=`plans${routes.upload}`, method="post", autocomplete="off") <!--지난 날짜는 보이지 않도록-->
                            button.description__button(type="button")
                                img(src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/microsoft/209/fire_1f525.png", alt="명언")
                            input.add-form__input(type="text", name="title", placeholder="할 일")
                            input(type="hidden", name="category", value="공부")
                            input(type="hidden", name="creator", value=user.id)
                            button.add-form__button 추가
                li.day__item
                    .title 
                        .title_date
                            span.title_date 19일 
                            span.title_day 토요일
                        .title_description
                            p.description -
                    .todolist-box
                        ul.todolist
                            each item in user.plans
                                +planBlock({
                                    title:item.title
                                })
                        form.add-form(action=`plans${routes.upload}`, method="post", autocomplete="off") <!--지난 날짜는 보이지 않도록-->
                            button.description__button(type="button")
                                img(src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/microsoft/209/fire_1f525.png", alt="명언")
                            input.add-form__input(type="text", name="title", placeholder="할 일")
                            input(type="hidden", name="category", value="공부")
                            input(type="hidden", name="creator", value=user.id)
                            button.add-form__button 추가
        a.next__btn > 
